 .u-section-1 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/IMG_7406.webp');
   background-position: 50% 50%;
 }

 .u-section-1 .u-sheet-1 {
   min-height: 758px;
 }

 .u-section-1 .u-text-1 {
   text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
   font-weight: 700;
   --animation-custom_in-translate_x: 300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   margin: 186px auto 0 0;
 }

 .u-section-1 .u-text-2 {
   text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
   font-size: 1.25rem;
   --animation-custom_in-translate_x: 300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   margin: 30px 380px 0 0;
 }

 .u-section-1 .u-btn-1 {
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 2px;
   font-size: 0.875rem;
   text-align: center;
   background-image: none;
   border-style: solid;
   --animation-custom_in-translate_x: 300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   margin: 53px auto 60px 0;
   padding: 18px 42px 18px 41px;
 }

 @media (max-width: 1199px) {
   .u-section-1 {
     background-size: 120%;
   }

   .u-section-1 .u-sheet-1 {
     min-height: 625px;
   }

   .u-section-1 .u-text-2 {
     margin-right: 180px;
   }
 }

 @media (max-width: 991px) {
   .u-section-1 .u-sheet-1 {
     min-height: 479px;
   }

   .u-section-1 .u-text-2 {
     margin-right: 0;
   }
 }

 @media (max-width: 767px) {
   .u-section-1 {
     background-size: auto 120%;
   }

   .u-section-1 .u-sheet-1 {
     min-height: 638px;
   }

   .u-section-1 .u-text-1 {
     width: auto;
     margin-top: 107px;
     margin-right: 0;
   }

   .u-section-1 .u-text-2 {
     width: auto;
     margin-top: 48px;
   }

   .u-section-1 .u-btn-1 {
     margin-top: 47px;
   }
 }

 @media (max-width: 575px) {
   .u-section-1 .u-sheet-1 {
     min-height: 607px;
   }

   .u-section-1 .u-text-1 {
     margin-top: 60px;
   }

   .u-section-1 .u-text-2 {
     margin-top: 35px;
   }

   .u-section-1 .u-btn-1 {
     margin-top: 64px;
     margin-left: auto;
   }
 }

 .u-section-2 {
   background-image: linear-gradient(#853113, #c48f17);
 }

 .u-section-2 .u-sheet-1 {
   min-height: 622px;
 }

 .u-section-2 .u-text-1 {
   font-size: 3rem;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
   margin: 60px auto 0;
 }

 .u-section-2 .u-text-2 {
   width: 845px;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   font-size: 1.25rem;
   font-weight: 700;
   margin: 30px auto 0;
 }

 .u-section-2 .u-btn-1 {
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 2px;
   font-size: 0.875rem;
   text-align: center;
   background-image: none;
   border-style: solid;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   margin: 50px auto 60px;
   padding: 18px 42px 18px 41px;
 }

 @media (max-width: 991px) {
   .u-section-2 .u-text-2 {
     width: 720px;
   }
 }

 @media (max-width: 767px) {
   .u-section-2 .u-text-1 {
     font-size: 2.25rem;
   }

   .u-section-2 .u-text-2 {
     width: 540px;
     font-size: 1rem;
   }
 }

 @media (max-width: 575px) {
   .u-section-2 .u-text-1 {
     font-size: 1.875rem;
   }

   .u-section-2 .u-text-2 {
     width: auto;
     font-size: 1.125rem;
     margin-top: 46px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-2 .u-btn-1 {
     margin-top: 34px;
   }
 }

 .u-section-3 .u-sheet-1 {
   min-height: 926px;
 }

 .u-section-3 .u-text-1 {
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
   margin: 60px 0 0;
 }

 .u-section-3 .u-layout-wrap-1 {
   margin-top: 60px;
   margin-bottom: 60px;
 }

 .u-section-3 .u-layout-cell-1 {
   min-height: 331px;
 }

 .u-section-3 .u-container-layout-1 {
   padding: 20px;
 }

 .u-section-3 .u-image-1 {
   width: 244px;
   height: 244px;
   background-image: url("images/IMG_3869.jpg");
   background-position: 50% 50%;
   --animation-custom_in-translate_x: -400px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 180deg;
   --animation-custom_in-scale: 1;
   margin: 0 auto;
 }

 .u-section-3 .u-layout-cell-2 {
   min-height: 331px;
   --animation-custom_in-translate_x: -300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-3 .u-container-layout-2 {
   padding: 30px;
 }

 .u-section-3 .u-text-2 {
   margin-top: 0;
   margin-bottom: 0;
 }

 .u-section-3 .u-text-3 {
   margin-bottom: 0;
   margin-top: 20px;
   line-height: 1.8;
   font-style: italic;
 }

 .u-section-3 .u-layout-cell-3 {
   min-height: 331px;
 }

 .u-section-3 .u-container-layout-3 {
   padding: 20px;
 }

 .u-section-3 .u-image-2 {
   width: 244px;
   height: 244px;
   background-image: url("images/image2.webp");
   background-position: 46.92% 50%;
   --animation-custom_in-translate_x: -400px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 180deg;
   --animation-custom_in-scale: 1;
   margin: 0 auto;
 }

 .u-section-3 .u-layout-cell-4 {
   min-height: 331px;
   --animation-custom_in-translate_x: 300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-3 .u-container-layout-4 {
   padding: 30px;
 }

 .u-section-3 .u-text-4 {
   margin-top: 0;
   margin-bottom: 0;
 }

 .u-section-3 .u-text-5 {
   margin-bottom: 0;
   margin-top: 20px;
   line-height: 1.8;
   font-style: italic;
 }

 .u-section-3 .u-layout-cell-5 {
   min-height: 259px;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-3 .u-container-layout-5 {
   padding: 30px;
 }

 .u-section-3 .u-text-6 {
   margin-top: 0;
   margin-bottom: 0;
   font-size: 1.25rem;
 }

 .u-section-3 .u-text-7 {
   margin-bottom: 0;
   margin-top: 20px;
   line-height: 1.8;
   font-style: italic;
 }

 .u-section-3 .u-layout-cell-6 {
   min-height: 284px;
 }

 .u-section-3 .u-container-layout-6 {
   padding: 20px;
 }

 .u-section-3 .u-image-3 {
   width: 244px;
   height: 244px;
   background-image: url("images/Bamboo_Elite_Horizontal_Caramel.jpg");
   background-position: 67.78% 50%;
   --animation-custom_in-translate_x: 300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 180deg;
   --animation-custom_in-scale: 1;
   margin: 0 auto;
 }

 .u-section-3 .u-layout-cell-7 {
   min-height: 214px;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-3 .u-container-layout-7 {
   padding: 30px;
 }

 .u-section-3 .u-text-8 {
   margin-top: 0;
   margin-bottom: 0;
 }

 .u-section-3 .u-text-9 {
   margin-bottom: 0;
   margin-top: 20px;
   line-height: 1.8;
   font-style: italic;
 }

 .u-section-3 .u-layout-cell-8 {
   min-height: 259px;
 }

 .u-section-3 .u-container-layout-8 {
   padding: 20px;
 }

 .u-section-3 .u-image-4 {
   width: 244px;
   height: 244px;
   background-image: url("images/image.webp");
   background-position: 77.43% 50%;
   --animation-custom_in-translate_x: 300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 180deg;
   --animation-custom_in-scale: 1;
   margin: 0 auto;
 }

 @media (max-width: 1199px) {
   .u-section-3 .u-sheet-1 {
     min-height: 824px;
   }

   .u-section-3 .u-text-1 {
     width: 668px;
   }

   .u-section-3 .u-layout-cell-1 {
     min-height: 273px;
   }

   .u-section-3 .u-image-1 {
     width: 195px;
     height: 195px;
   }

   .u-section-3 .u-layout-cell-2 {
     min-height: 273px;
   }

   .u-section-3 .u-container-layout-2 {
     padding-left: 20px;
     padding-right: 20px;
   }

   .u-section-3 .u-layout-cell-3 {
     min-height: 273px;
   }

   .u-section-3 .u-image-2 {
     background-position: 50% 63.83%;
     width: 195px;
     height: 195px;
   }

   .u-section-3 .u-layout-cell-4 {
     min-height: 195px;
   }

   .u-section-3 .u-layout-cell-5 {
     min-height: 214px;
   }

   .u-section-3 .u-container-layout-5 {
     padding-left: 20px;
     padding-right: 20px;
   }

   .u-section-3 .u-text-6 {
     font-size: 1.5rem;
   }

   .u-section-3 .u-layout-cell-6 {
     min-height: 234px;
   }

   .u-section-3 .u-image-3 {
     width: 195px;
     height: 195px;
   }

   .u-section-3 .u-layout-cell-8 {
     min-height: 214px;
   }

   .u-section-3 .u-image-4 {
     width: 195px;
     height: 195px;
   }
 }

 @media (max-width: 991px) {
   .u-section-3 .u-sheet-1 {
     min-height: 879px;
   }

   .u-section-3 .u-layout-cell-1 {
     min-height: 289px;
   }

   .u-section-3 .u-image-1 {
     height: 133px;
     width: 133px;
     margin-top: 71px;
     margin-left: 0;
   }

   .u-section-3 .u-layout-cell-2 {
     min-height: 289px;
   }

   .u-section-3 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-layout-cell-3 {
     min-height: 289px;
   }

   .u-section-3 .u-image-2 {
     width: 140px;
     height: 140px;
   }

   .u-section-3 .u-layout-cell-4 {
     min-height: 289px;
   }

   .u-section-3 .u-container-layout-4 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-layout-cell-5 {
     min-height: 282px;
   }

   .u-section-3 .u-container-layout-5 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-text-6 {
     font-size: 1.25rem;
   }

   .u-section-3 .u-layout-cell-6 {
     min-height: 289px;
   }

   .u-section-3 .u-image-3 {
     height: 133px;
     width: 133px;
     margin-top: 71px;
     margin-left: 0;
   }

   .u-section-3 .u-layout-cell-7 {
     min-height: 282px;
   }

   .u-section-3 .u-container-layout-7 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-layout-cell-8 {
     min-height: 282px;
   }

   .u-section-3 .u-image-4 {
     width: 133px;
     height: 133px;
     margin-top: 67px;
     margin-left: 0;
   }
 }

 @media (max-width: 767px) {
   .u-section-3 .u-sheet-1 {
     min-height: 2388px;
   }

   .u-section-3 .u-text-1 {
     width: 540px;
   }

   .u-section-3 .u-layout-cell-1 {
     min-height: 433px;
   }

   .u-section-3 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-image-1 {
     width: 250px;
     height: 250px;
     margin-top: 72px;
     margin-left: auto;
   }

   .u-section-3 .u-layout-cell-2 {
     min-height: 100px;
   }

   .u-section-3 .u-text-2 {
     width: auto;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-3 .u-text-3 {
     width: auto;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-3 .u-layout-cell-3 {
     min-height: 433px;
   }

   .u-section-3 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-image-2 {
     width: 250px;
     height: 250px;
     margin-top: 72px;
   }

   .u-section-3 .u-layout-cell-4 {
     min-height: 100px;
   }

   .u-section-3 .u-text-4 {
     width: auto;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-3 .u-text-5 {
     width: auto;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-3 .u-layout-cell-5 {
     min-height: 100px;
     order: 1;
   }

   .u-section-3 .u-text-6 {
     width: auto;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-3 .u-text-7 {
     width: auto;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-3 .u-layout-cell-6 {
     min-height: 433px;
     order: 0;
   }

   .u-section-3 .u-container-layout-6 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-image-3 {
     width: 250px;
     height: 250px;
     margin-top: 72px;
     margin-left: auto;
   }

   .u-section-3 .u-layout-cell-7 {
     min-height: 100px;
     order: 3;
   }

   .u-section-3 .u-text-8 {
     width: auto;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-3 .u-text-9 {
     width: auto;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-3 .u-layout-cell-8 {
     min-height: 423px;
     order: 2;
   }

   .u-section-3 .u-container-layout-8 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-image-4 {
     width: 250px;
     height: 250px;
     margin-left: auto;
   }
 }

 @media (max-width: 575px) {
   .u-section-3 .u-sheet-1 {
     min-height: 1631px;
   }

   .u-section-3 .u-text-1 {
     width: 340px;
   }

   .u-section-3 .u-layout-cell-1 {
     min-height: 273px;
   }

   .u-section-3 .u-layout-cell-3 {
     min-height: 273px;
   }

   .u-section-3 .u-layout-cell-6 {
     min-height: 273px;
   }

   .u-section-3 .u-layout-cell-8 {
     min-height: 266px;
   }
 }

 .u-section-4 {
   min-height: 1228px;
 }

 .u-section-4 .u-group-1 {
   margin-top: -1px;
   margin-bottom: 0;
   min-height: 473px;
   height: auto;
   background-image: linear-gradient(#c48f17, #853113);
 }

 .u-section-4 .u-container-layout-1 {
   padding: 90px 124px;
 }

 .u-section-4 .u-text-1 {
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
   margin: 0 auto;
 }

 .u-section-4 .u-text-2 {
   font-size: 1.125rem;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
   width: 746px;
   font-weight: 400;
   margin: 27px auto 0;
 }

 .u-section-4 .u-btn-1 {
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 2px;
   font-size: 0.875rem;
   text-align: center;
   background-image: none;
   border-style: solid;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   margin: 25px auto 0;
   padding: 18px 42px 18px 41px;
 }

 .u-section-4 .u-list-1 {
   grid-template-rows: repeat(1, auto);
   width: 1140px;
   margin: -154px auto 60px;
 }

 .u-section-4 .u-repeater-1 {
   grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
   min-height: 784px;
   grid-gap: 20px;
 }

 .u-section-4 .u-image-1 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/afaga.webp');
   background-position: 50% 0%;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-4 .u-container-layout-2 {
   padding: 0 0 30px;
 }

 .u-section-4 .u-group-2 {
   min-height: 112px;
   margin-top: 270px;
   margin-bottom: -30px;
   height: auto;
   background-image: none;
 }

 .u-section-4 .u-container-layout-3 {
   padding: 20px 30px;
 }

 .u-section-4 .u-text-3 {
   text-shadow: 2px 2px 34px rgba(0, 0, 0, 0.4);
   font-size: 1.125rem;
   text-transform: none;
   margin: 0;
 }

 .u-section-4 .u-image-2 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/Pig3.webp');
   background-position: 22.71% 50%;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-4 .u-container-layout-4 {
   padding: 0 0 30px;
 }

 .u-section-4 .u-group-3 {
   min-height: 112px;
   margin-top: 270px;
   margin-bottom: -30px;
   height: auto;
   background-image: none;
 }

 .u-section-4 .u-container-layout-5 {
   padding: 20px 30px;
 }

 .u-section-4 .u-text-4 {
   text-shadow: 2px 2px 34px rgba(0, 0, 0, 0.4);
   font-size: 1.125rem;
   text-transform: none;
   margin: 0;
 }

 .u-section-4 .u-image-3 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/IMG_6389.webp');
   background-position: 50% 13.74%;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-4 .u-container-layout-6 {
   padding: 0 0 30px;
 }

 .u-section-4 .u-group-4 {
   min-height: 112px;
   margin-top: 270px;
   margin-bottom: -30px;
   height: auto;
   background-image: none;
 }

 .u-section-4 .u-container-layout-7 {
   padding: 20px 30px;
 }

 .u-section-4 .u-text-5 {
   text-shadow: 2px 2px 34px rgba(0, 0, 0, 0.4);
   font-size: 1.125rem;
   text-transform: none;
   margin: 0;
 }

 .u-section-4 .u-image-4 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/IMG_7557.webp');
   background-position: 50% 0%;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-4 .u-container-layout-8 {
   padding: 0 0 30px;
 }

 .u-section-4 .u-group-5 {
   min-height: 112px;
   margin-top: 270px;
   margin-bottom: -30px;
   height: auto;
   background-image: none;
 }

 .u-section-4 .u-container-layout-9 {
   padding: 20px 30px;
 }

 .u-section-4 .u-text-6 {
   text-shadow: 2px 2px 34px rgba(0, 0, 0, 0.4);
   font-size: 1.125rem;
   text-transform: none;
   margin: 0;
 }

 .u-section-4 .u-image-5 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/image10.png');
   background-position: 16.79% 50%;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-4 .u-container-layout-10 {
   padding: 0 0 30px;
 }

 .u-section-4 .u-group-6 {
   min-height: 112px;
   margin-top: 270px;
   margin-bottom: -30px;
   height: auto;
   background-image: none;
 }

 .u-section-4 .u-container-layout-11 {
   padding: 20px 30px;
 }

 .u-section-4 .u-text-7 {
   text-shadow: 2px 2px 34px rgba(0, 0, 0, 0.4);
   font-size: 1.125rem;
   text-transform: none;
   margin: 0;
 }

 .u-section-4 .u-image-6 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/image8.png');
   background-position: 0% 50%;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-4 .u-container-layout-12 {
   padding: 0 0 30px;
 }

 .u-section-4 .u-group-7 {
   min-height: 112px;
   margin-top: 270px;
   margin-bottom: -30px;
   height: auto;
   background-image: none;
 }

 .u-section-4 .u-container-layout-13 {
   padding: 20px 30px;
 }

 .u-section-4 .u-text-8 {
   text-shadow: 2px 2px 34px rgba(0, 0, 0, 0.4);
   font-size: 1.125rem;
   text-transform: none;
   margin: 0;
 }

 @media (max-width: 1199px) {
   .u-section-4 .u-group-1 {
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 0.3;
     height: auto;
   }

   .u-section-4 .u-container-layout-1 {
     padding-top: 80px;
   }

   .u-section-4 .u-text-2 {
     width: 692px;
   }

   .u-section-4 .u-list-1 {
     width: 940px;
   }

   .u-section-4 .u-repeater-1 {
     grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
     min-height: 645px;
   }

   .u-section-4 .u-group-2 {
     height: auto;
   }

   .u-section-4 .u-group-3 {
     height: auto;
   }

   .u-section-4 .u-group-4 {
     height: auto;
   }

   .u-section-4 .u-group-5 {
     height: auto;
   }

   .u-section-4 .u-group-6 {
     height: auto;
   }

   .u-section-4 .u-group-7 {
     height: auto;
   }
 }

 @media (max-width: 991px) {
   .u-section-4 .u-container-layout-1 {
     padding: 70px 30px 30px;
   }

   .u-section-4 .u-text-2 {
     width: 660px;
   }

   .u-section-4 .u-list-1 {
     width: 720px;
   }

   .u-section-4 .u-repeater-1 {
     grid-template-columns: repeat(2, calc(50% - 9.999975px));
     min-height: 1134px;
   }
 }

 @media (max-width: 767px) {
   .u-section-4 .u-container-layout-1 {
     padding-top: 75px;
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-text-2 {
     width: 520px;
   }

   .u-section-4 .u-list-1 {
     width: 540px;
   }

   .u-section-4 .u-repeater-1 {
     grid-template-columns: 100%;
   }

   .u-section-4 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-container-layout-5 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-container-layout-7 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-container-layout-9 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-container-layout-11 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-container-layout-13 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-4 .u-container-layout-1 {
     padding-top: 65px;
   }

   .u-section-4 .u-text-2 {
     width: 320px;
   }

   .u-section-4 .u-list-1 {
     width: 340px;
   }
 }

 .u-section-5 {
   background-image: none;
 }

 .u-section-5 .u-sheet-1 {
   min-height: 783px;
 }

 .u-section-5 .u-layout-wrap-1 {
   margin-top: 60px;
   margin-bottom: 60px;
 }

 .u-section-5 .u-layout-cell-1 {
   min-height: 653px;
   --animation-custom_in-translate_x: -300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-5 .u-container-layout-1 {
   padding: 40px 0;
 }

 .u-section-5 .u-text-1 {
   margin: 29px auto 0;
 }

 .u-section-5 .u-list-1 {
   margin-top: 30px;
   margin-bottom: 0;
 }

 .u-section-5 .u-repeater-1 {
   grid-template-columns: repeat(2, calc(50% - 5px));
   min-height: 374px;
   grid-gap: 10px;
 }

 .u-section-5 .u-list-item-1 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-5 .u-container-layout-2 {
   padding: 20px;
 }

 .u-section-5 .u-icon-1 {
   height: 70px;
   width: 70px;
   margin: 15px auto 0;
   padding: 0;
 }

 .u-section-5 .u-text-2 {
   font-weight: 500;
   font-size: 1.25rem;
   margin: 18px auto 0;
 }

 .u-section-5 .u-list-item-2 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-5 .u-container-layout-3 {
   padding: 20px;
 }

 .u-section-5 .u-icon-2 {
   height: 70px;
   width: 70px;
   margin: 15px auto 0;
   padding: 0;
 }

 .u-section-5 .u-text-3 {
   font-weight: 500;
   font-size: 1.25rem;
   margin: 18px auto 0;
 }

 .u-section-5 .u-list-item-3 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-5 .u-container-layout-4 {
   padding: 20px;
 }

 .u-section-5 .u-icon-3 {
   height: 70px;
   width: 70px;
   margin: 15px auto 0;
   padding: 0;
 }

 .u-section-5 .u-text-4 {
   font-weight: 500;
   font-size: 1.25rem;
   margin: 18px auto 0;
 }

 .u-section-5 .u-list-item-4 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-5 .u-container-layout-5 {
   padding: 20px;
 }

 .u-section-5 .u-icon-4 {
   height: 70px;
   width: 70px;
   margin: 15px auto 0;
   padding: 0;
 }

 .u-section-5 .u-text-5 {
   font-weight: 500;
   font-size: 1.25rem;
   margin: 18px auto 0;
 }

 .u-section-5 .u-list-item-5 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-5 .u-container-layout-6 {
   padding: 20px;
 }

 .u-section-5 .u-icon-5 {
   height: 70px;
   width: 70px;
   margin: 15px auto 0;
   padding: 0;
 }

 .u-section-5 .u-text-6 {
   font-weight: 500;
   font-size: 1.25rem;
   margin: 18px auto 0;
 }

 .u-section-5 .u-list-item-6 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-5 .u-container-layout-7 {
   padding: 20px;
 }

 .u-section-5 .u-icon-6 {
   height: 70px;
   width: 70px;
   margin: 15px auto 0;
   padding: 0;
 }

 .u-section-5 .u-text-7 {
   font-weight: 500;
   font-size: 1.25rem;
   margin: 18px auto 0;
 }

 .u-section-5 .u-image-1 {
   min-height: 653px;
   background-image: url("images/48647f2a64f56b0149bbcf11c7aaaf24ccbd23636fb19431400f8a89373e0f12691c6343b79f42be08d4194042c47f59dcc046a348e8aeb517e6a5_1280.jpg");
   background-position: 50% 50%;
 }

 .u-section-5 .u-container-layout-8 {
   padding: 0;
 }

 @media (max-width: 1199px) {
   .u-section-5 .u-sheet-1 {
     min-height: 668px;
   }

   .u-section-5 .u-layout-cell-1 {
     min-height: 538px;
   }

   .u-section-5 .u-text-1 {
     margin-top: 0;
   }

   .u-section-5 .u-repeater-1 {
     min-height: 309px;
   }

   .u-section-5 .u-list-item-3 {
     --animation-custom_in-scale: 0.3;
     --animation-custom_in-translate_y: 100px;
   }

   .u-section-5 .u-image-1 {
     min-height: 538px;
   }
 }

 @media (max-width: 991px) {
   .u-section-5 .u-sheet-1 {
     min-height: 542px;
   }

   .u-section-5 .u-layout-cell-1 {
     min-height: 100px;
   }

   .u-section-5 .u-container-layout-1 {
     padding-top: 30px;
     padding-bottom: 30px;
   }

   .u-section-5 .u-repeater-1 {
     grid-auto-columns: calc(50% - 5px);
   }

   .u-section-5 .u-image-1 {
     min-height: 412px;
   }
 }

 @media (max-width: 767px) {
   .u-section-5 .u-sheet-1 {
     min-height: 848px;
   }

   .u-section-5 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-5 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-5 .u-container-layout-4 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-5 .u-container-layout-5 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-5 .u-container-layout-6 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-5 .u-container-layout-7 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-5 .u-image-1 {
     min-height: 618px;
   }
 }

 @media (max-width: 575px) {
   .u-section-5 .u-sheet-1 {
     min-height: 619px;
   }

   .u-section-5 .u-repeater-1 {
     grid-template-columns: 100%;
     grid-auto-columns: calc(100% - 0px);
   }

   .u-section-5 .u-image-1 {
     min-height: 389px;
   }
 }

 .u-section-6 {
   min-height: 662px;
 }

 .u-section-6 .u-text-1 {
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
   margin: 60px auto 0;
 }

 .u-section-6 .u-gallery-1 {
   height: 430px;
   margin-top: 40px;
   margin-bottom: 60px;
 }

 .u-section-6 .u-gallery-inner-1 {
   grid-template-columns: repeat(4, auto);
 }

 .u-section-6 .u-gallery-item-1 {
   margin-right: 10px;
   margin-top: 0;
   margin-bottom: 0;
 }

 .u-section-6 .u-back-image-1 {
   width: 430px;
 }

 .u-section-6 .u-over-slide-1 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-6 .u-gallery-item-2 {
   margin-right: 10px;
   margin-top: 0;
   margin-bottom: 0;
 }

 .u-section-6 .u-back-image-2 {
   width: 430px;
 }

 .u-section-6 .u-over-slide-2 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-6 .u-gallery-item-3 {
   margin-right: 10px;
 }

 .u-section-6 .u-back-image-3 {
   width: 430px;
 }

 .u-section-6 .u-over-slide-3 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-6 .u-gallery-item-4 {
   margin-right: 10px;
 }

 .u-section-6 .u-back-image-4 {
   width: 430px;
 }

 .u-section-6 .u-over-slide-4 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-6 .u-gallery-item-5 {
   margin-right: 10px;
 }

 .u-section-6 .u-back-slide-5 {
   position: absolute;
   right: 10px;
   width: 40px;
   height: 40px;
 }

 .u-section-6 .u-back-image-5 {
   width: 430px;
 }

 .u-section-6 .u-over-slide-5 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-6 .u-gallery-item-6 {
   margin-right: 10px;
 }

 .u-section-6 .u-back-image-6 {
   width: 430px;
   object-position: 93.55% 50%;
 }

 .u-section-6 .u-over-slide-6 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-6 .u-gallery-item-7 {
   margin-right: 10px;
   margin-top: 0;
   margin-bottom: 0;
 }

 .u-section-6 .u-back-image-7 {
   width: 430px;
 }

 .u-section-6 .u-over-slide-7 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-6 .u-gallery-item-8 {
   margin-right: 10px;
   margin-top: 0;
   margin-bottom: 0;
 }

 .u-section-6 .u-back-image-8 {
   width: 430px;
 }

 .u-section-6 .u-over-slide-8 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-6 .u-gallery-nav-1 {
   position: absolute;
   left: 25px;
   width: 40px;
   height: 40px;
   top: 195px;
 }

 .u-section-6 .u-gallery-nav-2 {
   position: absolute;
   width: 40px;
   height: 40px;
   left: auto;
   top: 195px;
   right: 25px;
 }

 .u-section-7 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/pavimento-parquet-de-madeira-min.jpg');
   background-position: 50% 50%;
 }

 .u-section-7 .u-sheet-1 {
   min-height: 707px;
 }

 .u-section-7 .u-text-1 {
   font-size: 3rem;
   --animation-custom_in-translate_x: -300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   margin: 100px 65px 0;
 }

 .u-section-7 .u-list-1 {
   width: 759px;
   margin: 64px auto 60px;
 }

 .u-section-7 .u-repeater-1 {
   grid-template-columns: repeat(3, calc(33.3333% - 21.3333px));
   min-height: 261px;
   grid-auto-columns: calc(33.3333% - 21.3333px);
   grid-gap: 32px;
 }

 .u-section-7 .u-list-item-1 {
   background-image: none;
 }

 .u-section-7 .u-container-layout-1 {
   padding: 20px;
 }

 .u-section-7 .u-text-2 {
   letter-spacing: 3px;
   text-transform: uppercase;
   font-weight: 300;
   font-size: 1.25rem;
   margin: 0 auto;
 }

 .u-section-7 .u-text-3 {
   font-size: 4.5rem;
   font-weight: 700;
   margin: 20px auto 0;
 }

 .u-section-7 .u-list-item-2 {
   background-image: none;
 }

 .u-section-7 .u-container-layout-2 {
   padding: 20px;
 }

 .u-section-7 .u-text-4 {
   letter-spacing: 3px;
   text-transform: uppercase;
   font-weight: 300;
   font-size: 1.25rem;
   margin: 0 auto;
 }

 .u-section-7 .u-text-5 {
   font-size: 4.5rem;
   font-weight: 700;
   margin: 20px auto 0;
 }

 .u-section-7 .u-list-item-3 {
   background-image: none;
 }

 .u-section-7 .u-container-layout-3 {
   padding: 20px;
 }

 .u-section-7 .u-text-6 {
   letter-spacing: 3px;
   text-transform: uppercase;
   font-weight: 300;
   font-size: 1.25rem;
   margin: 0 auto;
 }

 .u-section-7 .u-text-7 {
   font-size: 4.5rem;
   font-weight: 700;
   margin: 20px auto 0;
 }

 @media (max-width: 1199px) {
   .u-section-7 .u-sheet-1 {
     min-height: 583px;
   }

   .u-section-7 .u-text-1 {
     width: auto;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-repeater-1 {
     grid-template-columns: repeat(3, calc(33.333333333333336% - 21.3333px));
     grid-auto-columns: calc(33.333333333333336% - 21.3333px);
   }
 }

 @media (max-width: 991px) {
   .u-section-7 .u-sheet-1 {
     min-height: 1049px;
   }

   .u-section-7 .u-list-1 {
     margin-right: initial;
     margin-left: initial;
     width: auto;
   }

   .u-section-7 .u-repeater-1 {
     grid-template-columns: repeat(2, calc(50% - 15.999975000000001px));
     min-height: 631px;
     grid-auto-columns: calc(50% - 15.999975000000001px);
   }
 }

 @media (max-width: 767px) {
   .u-section-7 .u-sheet-1 {
     min-height: 787px;
   }

   .u-section-7 .u-text-1 {
     font-size: 2.25rem;
   }

   .u-section-7 .u-repeater-1 {
     grid-template-columns: 100%;
     grid-auto-columns: calc(100% - 0px);
   }

   .u-section-7 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-7 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-7 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-7 .u-sheet-1 {
     min-height: 496px;
   }

   .u-section-7 .u-text-1 {
     font-size: 1.875rem;
   }

   .u-section-7 .u-repeater-1 {
     grid-auto-columns: 100%;
   }

   .u-section-7 .u-text-3 {
     font-size: 3.75rem;
   }

   .u-section-7 .u-text-5 {
     font-size: 3.75rem;
   }

   .u-section-7 .u-text-7 {
     font-size: 3.75rem;
   }
 }

 .u-section-8 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/pavimento-parquet-de-madeira-min.jpg');
   background-position: 50% 50%;
 }

 .u-section-8 .u-sheet-1 {
   min-height: 592px;
 }

 .u-section-8 .u-text-1 {
   font-size: 3.75rem;
   text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
   margin: 152px auto 0;
 }

 .u-section-8 .u-btn-1 {
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 2px;
   font-size: 0.875rem;
   text-align: center;
   background-image: none;
   border-style: solid;
   margin: 73px auto 60px;
   padding: 18px 59px 18px 58px;
 }

 @media (max-width: 1199px) {
   .u-section-8 .u-sheet-1 {
     min-height: 488px;
   }
 }

 @media (max-width: 991px) {
   .u-section-8 .u-sheet-1 {
     min-height: 374px;
   }
 }

 @media (max-width: 767px) {
   .u-section-8 .u-sheet-1 {
     min-height: 281px;
   }

   .u-section-8 .u-text-1 {
     font-size: 2.25rem;
   }
 }

 @media (max-width: 575px) {
   .u-section-8 .u-sheet-1 {
     min-height: 177px;
   }

   .u-section-8 .u-text-1 {
     font-size: 1.875rem;
   }
 }

 .u-section-9 {
   background-image: none;
 }

 .u-section-9 .u-sheet-1 {
   min-height: 1026px;
 }

 .u-section-9 .u-layout-wrap-1 {
   margin-top: 60px;
   margin-bottom: 0;
 }

 .u-section-9 .u-layout-cell-1 {
   min-height: 636px;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-9 .u-container-layout-1 {
   padding: 40px 30px;
 }

 .u-section-9 .u-text-1 {
   margin: 25px auto 0;
 }

 .u-section-9 .u-form-1 {
   height: 383px;
   margin: 20px 0 0 20px;
 }

 .u-section-9 .u-btn-1 {
   background-image: none;
   --radius: 10px;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 1.125rem;
   width: 100%;
   padding: 14px 0 15px;
 }

 .u-section-9 .u-image-1 {
   min-height: 636px;
   --animation-custom_in-translate_x: 300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   background-image: url("images/a49ca27cce58f605e6061c9e58d970162169279f249e8be02b2db0b90e7710ae02fb44febfe02e8f810150bbca5bc536b096d38bfd5dbccdf9e4a2_1280.jpg");
   background-position: 50% 50%;
 }

 .u-section-9 .u-container-layout-2 {
   padding: 30px;
 }

 .u-section-9 .u-list-1 {
   grid-auto-rows: 100%;
   margin: 42px 0 60px;
 }

 .u-section-9 .u-repeater-1 {
   grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
   min-height: 176px;
   grid-gap: 20px;
 }

 .u-section-9 .u-list-item-1 {
   background-image: none;
   --radius: 10px;
 }

 .u-section-9 .u-container-layout-3 {
   padding: 40px 30px;
 }

 .u-section-9 .u-text-2 {
   font-weight: 700;
   margin: 0;
 }

 .u-section-9 .u-text-3 {
   margin: 20px 0 0;
 }

 .u-section-9 .u-list-item-2 {
   background-image: none;
   --radius: 10px;
 }

 .u-section-9 .u-container-layout-4 {
   padding: 40px 30px;
 }

 .u-section-9 .u-text-4 {
   font-weight: 700;
   text-transform: uppercase;
   font-size: 1.25rem;
   margin: 0;
 }

 .u-section-9 .u-text-5 {
   margin: 20px 0 0;
 }

 .u-section-9 .u-list-item-3 {
   background-image: none;
   --radius: 10px;
 }

 .u-section-9 .u-container-layout-5 {
   padding: 40px 30px;
 }

 .u-section-9 .u-text-6 {
   font-weight: 700;
   text-transform: uppercase;
   font-size: 1.25rem;
   margin: 0;
 }

 .u-section-9 .u-text-7 {
   margin: 20px 0 0;
 }

 @media (max-width: 1199px) {
   .u-section-9 .u-sheet-1 {
     min-height: 914px;
   }

   .u-section-9 .u-layout-cell-1 {
     min-height: 524px;
   }

   .u-section-9 .u-text-1 {
     margin-top: 0;
   }

   .u-section-9 .u-form-1 {
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-9 .u-image-1 {
     min-height: 524px;
   }

   .u-section-9 .u-list-1 {
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-9 .u-repeater-1 {
     grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
     min-height: 144px;
   }
 }

 @media (max-width: 991px) {
   .u-section-9 .u-sheet-1 {
     min-height: 791px;
   }

   .u-section-9 .u-layout-cell-1 {
     min-height: 100px;
   }

   .u-section-9 .u-container-layout-1 {
     padding-top: 30px;
     padding-bottom: 30px;
   }

   .u-section-9 .u-image-1 {
     min-height: 671px;
   }

   .u-section-9 .u-repeater-1 {
     grid-template-columns: repeat(2, calc(50% - 9.999975px));
     min-height: 356px;
   }

   .u-section-9 .u-container-layout-3 {
     padding-top: 30px;
     padding-bottom: 30px;
   }

   .u-section-9 .u-container-layout-4 {
     padding-top: 30px;
     padding-bottom: 30px;
   }

   .u-section-9 .u-container-layout-5 {
     padding-top: 30px;
     padding-bottom: 30px;
   }
 }

 @media (max-width: 767px) {
   .u-section-9 .u-sheet-1 {
     min-height: 1615px;
   }

   .u-section-9 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-9 .u-image-1 {
     min-height: 503px;
   }

   .u-section-9 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-9 .u-repeater-1 {
     grid-template-columns: 100%;
   }

   .u-section-9 .u-container-layout-3 {
     padding-left: 20px;
     padding-right: 20px;
   }

   .u-section-9 .u-container-layout-4 {
     padding-left: 20px;
     padding-right: 20px;
   }

   .u-section-9 .u-container-layout-5 {
     padding-left: 20px;
     padding-right: 20px;
   }
 }

 @media (max-width: 575px) {
   .u-section-9 .u-sheet-1 {
     min-height: 1161px;
   }

   .u-section-9 .u-container-layout-1 {
     padding-top: 0;
   }

   .u-section-9 .u-image-1 {
     min-height: 317px;
   }
}